.dados {
  position: absolute;
  top: 294px;
  left: 98px;
  font-weight: 600;
}
.text-input10 {
  border: 0;
  font-family: var(--body-default);
  font-size: var(--header-h4-size);
  background-color: transparent;
  position: absolute;
  top: 336px;
  left: 96px;
  max-width: 624px;
  height: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.twitter-icon5 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.social-media-stack5 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.copyright5 {
  position: relative;
}
.bottom5,
.footer-divider5 {
  position: absolute;
  max-width: 1440px;
}
.bottom5 {
  top: 853px;
  left: -12px;
  height: 64px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-101xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  text-align: right;
  color: var(--grey-400);
}
.footer-divider5 {
  top: 852.5px;
  left: 0;
  height: 1px;
}
.button5,
.registar {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.registar {
  position: relative;
  font-size: 32px;
  font-family: var(--body-default);
  color: var(--purple-blue);
  text-align: left;
  width: 174px;
  height: 25px;
}
.button5 {
  border-radius: var(--br-9xs);
  border: 1px solid var(--purple-blue);
  box-sizing: border-box;
  width: 204px;
  height: 94px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-xl);
  justify-content: flex-start;
}
.button-row,
.text-input12,
.text-input13,
.text-input15 {
  border: 0;
  background-color: transparent;
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.button-row {
  cursor: pointer;
  padding: 0;
  top: 652px;
  left: 475px;
  max-width: 160px;
  height: 71px;
  flex-direction: row;
  align-items: flex-start;
}
.text-input12,
.text-input13,
.text-input15 {
  font-family: var(--body-default);
  font-size: var(--header-h4-size);
  top: 398px;
  left: 96px;
  max-width: 624px;
  height: 47px;
  flex-direction: column;
  align-items: center;
}
.text-input13,
.text-input15 {
  top: 460px;
}
.text-input15 {
  top: 531px;
}
.image-1-icon {
  position: absolute;
  top: 312px;
  left: 847px;
  border-radius: 40px;
  max-width: 473px;
  height: 411px;
  object-fit: cover;
}
.span6 {
  background: linear-gradient(180deg, #605dec, #2a26d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.eventos4 {
  position: absolute;
  top: 11px;
  left: 10px;
}
.wordmark4 {
  position: relative;
  width: 131px;
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.nav-list-item11,
.nav-list-item12 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: flex-start;
}
.nav-list-item12 {
  color: var(--grey-400);
}
.label20 {
  position: relative;
  font-size: var(--body-default-size);
  font-family: var(--body-default);
  color: var(--grey-100);
  text-align: left;
}
.button6,
.nav-navigation-menu4 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.button6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-xl);
  background-color: var(--purple-blue);
  flex: 1;
  border-radius: var(--br-9xs);
  height: 48px;
  overflow: hidden;
}
.nav-navigation-menu4 {
  max-width: 302px;
  padding: var(--padding-base);
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--body-default-size);
  color: var(--purple-blue);
}
.desktop-full2,
.registo-child {
  position: absolute;
  box-sizing: border-box;
}
.desktop-full2 {
  max-width: calc(100% + 24px);
  top: 0;
  right: -24px;
  left: 0;
  background-color: var(--true-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl);
  align-items: center;
  justify-content: space-between;
  font-size: var(--header-h3-size);
}
.registo-child {
  top: 118.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-dodgerblue);
  max-width: 1417px;
  height: 1px;
}
.chevron-down-icon,
.escolha-um-tipo {
  flex: 1;
  position: relative;
}
.chevron-down-icon {
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  height: 18px;
}
.base-pill-chit {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--true-white);
  border: 1px solid var(--grey-200);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs) var(--padding-5xs)
    var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.base-dropdown-expanded-list,
.pilll-chit {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pilll-chit {
  align-self: stretch;
  flex-direction: row;
}
.base-dropdown-expanded-list {
  position: absolute;
  top: 614px;
  left: 96px;
  max-width: 269px;
  height: 179px;
  flex-direction: column;
  font-size: var(--body-default-size);
  color: var(--grey-900);
}
.junte-se-a-milhares {
  position: absolute;
  top: 168px;
  left: 408px;
  font-size: var(--font-size-17xl);
  display: flex;
  color: var(--purple-blue);
  align-items: center;
  max-width: 642px;
  height: 96px;
}
.registo {
  position: relative;
  background-color: var(--true-white);
  width: 100%;
  height: 917px;
  overflow: hidden;
  text-align: left;
  font-size: var(--header-h4-size);
  color: var(--grey-600);
  font-family: var(--body-default);
}
